<h1>Tu dodasz nową</h1><br>
<%= form_for(@message) do |f| %>
<%= f.label "Tytuł wiadomości" %><br>
<%= f.text_field :title %><br>
<%= f.label "Treść wiadomości" %><br>
<%= f.text_area :content %><br>
<%= f.submit "Zapisz" %>
<% end %>